[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "==1.78"
scikit-learn = "==0.23.2"
pandas = "==1.1.2"
numpy = "==1.19.2"
matplotlib = "==3.3.2"
tqdm = "==4.49.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
configobj = "*"

[requires]
python_version = "3.8"
